# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_TOTEMROLLIN_LEFT
    def_bool $(shields_list_contains,totemrollin_left)

config SHIELD_TOTEMROLLIN_RIGHT
    def_bool $(shields_list_contains,totemrollin_right)
